In [1]:
from sklearn.datasets import dump_svmlight_file
import numpy as np
import pandas as pd
import os
import urllib
import zipfile
from sklearn.model_selection import train_test_split
import shutil

In [6]:
dataset = 'http://files.grouplens.org/datasets/movielens/ml-100k.zip'
dt_name = os.path.basename(dataset)
print('Downloading {}'.format(dt_name))
with urllib.request.urlopen(dataset) as response, open('../data/'+dt_name, 'wb') as out_file:
    shutil.copyfileobj(response, out_file)
print('Download completed')

Downloading ml-100k.zip
Download completed

In [12]:
with zipfile.ZipFile('../data/'+dt_name, 'r') as zip_ref:
    zip_ref.extractall('../data/')
dt_dir_name = os.path.splitext(dt_name)[0]

In [15]:
rdata= pd.read_csv('../data/'+dt_dir_name +'/'+ 'u.data', delimiter='\t', names=['userId', 'movieId', 'rating', 'timestamp'])
usrdata= pd.read_csv('../data/'+dt_dir_name +'/'+ 'u.user', delimiter='|', names=['user id', 'age' ,'gender' ,'occupation' , 'zip code'])

In [16]:
rdata

       userId  movieId  rating  timestamp
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
...       ...      ...     ...        ...
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [17]:
usrdata

     user id  age gender     occupation zip code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [18]:
rdata['userId'] = 'user' + rdata['userId'].astype(str)
rdata['movieId'] = 'movie' + rdata['movieId'].astype(str)
rdata.head()

    userId   movieId  rating  timestamp
0  user196  movie242       3  881250949
1  user186  movie302       3  891717742
2   user22  movie377       1  878887116
3  user244   movie51       2  880606923
4  user166  movie346       1  886397596

In [19]:
import networkx as nx
from networkx import *
 
#Create a graph
G = nx.Graph()
 
#Add nodes
G.add_nodes_from(rdata.userId, bipartite=0)
G.add_nodes_from(rdata.movieId, bipartite=1)
 
#Add weights for edges
G.add_weighted_edges_from([(uId, mId,rating) for (uId, mId, rating) in rdata[['userId', 'movieId', 'rating']].to_numpy()])

In [21]:
print(info(G))

Name:
Type: Graph
Number of nodes: 2625
Number of edges: 100000
Average degree:  76.1905

In [22]:
G.is_directed(), G.is_multigraph(), is_bipartite(G)

(False, False, True)

In [25]:
print("radius: %d" % radius(G))
print("diameter: %d" % diameter(G))
print("eccentricity: %s" % eccentricity(G))
print("center: %s" % center(G))
print("periphery: %s" % periphery(G))
print("density: %s" % density(G))

KeyboardInterrupt:

In [26]:
color_map = []
for node in G.nodes:
    if str(node).startswith('u'):
        color_map.append('yellow')
    else:
        color_map.append('green')

In [27]:
pos = nx.spring_layout(G)
plt.figure(3,figsize=(12,12)) 
nx.draw(G,pos,node_color=color_map)
plt.show()

NameError: name 'plt' is not defined

In [ ]:
X, Y = bipartite.sets(G)
pos = dict()
pos.update( (n, (1, i)) for i, n in enumerate(X) ) # put nodes from X at x=1
pos.update( (n, (2, i)) for i, n in enumerate(Y) ) # put nodes from Y at x=2
nx.draw(G, pos=pos, node_color=color_map)
plt.show()